@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.about-us-section {
  background: #121212;
  color: #fff;
  padding: 100px 20px;
  font-family: 'Poppins', 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.about-us-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2rem;
  right: 2rem;
  height: 1px;
  background-color: #6d6969;
}

.about-content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  animation: fadeInUp 1s ease forwards;
  flex-wrap: wrap;
}

.about-title-container,
.about-description-container {
  /* flex: 1 1 400px; */
  text-align: justify;
}

.about-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 16px;
  position: relative;
  color: #f9f8f5;
}

.highlight {
  color: #3b8132;
}

.underline {
  position: absolute;
  left: 9.5rem;
  width: 60px;
  height: 3px;
  background: #3b8132;
  margin-top: 10px;
}

.about-description {
  text-align: justify;
  font-size: 20px;
  line-height: 1.8;
  color: #cfcfcf;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .about-us-section {
    padding: 60px 20px;
  }

  .about-content {
    flex-direction: column;
    padding: 0 1rem;
    gap: 1.5rem;
  }

  .about-title {
    font-size: 28px;
  }

  .about-description {
    font-size: 16px;
  }

  .underline {
    width: 40px;
    margin-top: 8px;
  }
}

@media (max-width: 480px) {
  .about-us-section {
    padding: 40px 5px;
  }

  .about-title {
    font-size: 22px;
  }

  .about-description {
    font-size: 14px;
  }

  .underline {
    /* width: 30px; */
    height: 2px;
    margin-top: 6px;
    left: 5rem;
  }

  .about-title-container,
  .about-description-container {
    flex: 1 1 100%;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
