.collaborators-section {
  position: relative;
  padding: 2rem 2rem 4rem;
  background-color: #121212;
  overflow: hidden;
  text-align: center;
}

.collaborators-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2rem;
  right: 2rem;
  height: 1px;
  background-color: #6d6969;
}

.collab-heading {
  color: #f9f8f5;
  font-size: 2rem;
  margin-bottom: 4rem;
  font-weight: 600;
  font-family: 'Poppins', Arial, sans-serif;
  padding-top: 3rem;
}

.slider {
  background-color: #f9f8f5;
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  position: relative;
}

.slide-track {
  display: flex;
  width: calc(250px * 16);
  animation: scroll 40s linear infinite;
  animation-play-state: running;
}

.slide-track:hover {
  animation-play-state: paused;
}

.slide {
  width: 250px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: transform 0.3s ease;
}

.slide a {
  display: inline-block;
}

.slide img {
  height: 80px;
  width: 150px;
  transition: transform 0.3s ease;
}

.slide:hover img {
  transform: scale(1.1);
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@media (max-width: 768px) {
  .slide {
    width: 180px;
  }

  .slide img {
    height: 60px;
  }
}

@media (max-width: 480px) {
  .collab-heading {
    font-size: 1.8rem;
  }

  .slide img {
    height: 70px;
    width: 150px;
  }
}
