.usp-section {
  align-items: center;
  gap: 40px;
  padding: 40px;
  background-color: #121212;
}


.usp-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2rem;
  right: 2rem;
  height: 1px;
  background-color: #6d6969;
}

.usp-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 20px;
  flex-wrap: wrap;
}

.usp-text {
  flex: 1 1 500px;
  max-width: 600px;
}

.usp-heading {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 30px;
  text-align: center;
  color: #f9f8f5;
  font-family: 'Raleway', sans-serif;
}

.usp-description {
  font-size: 24px;
  color: #cfcfcf;
  line-height: 1.7;
  text-align: justify;
  font-family: 'Raleway', sans-serif;
}

.usp-carousel {
  flex: 1 1 500px;
  max-width: 650px;
}

.usp-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet {
  background: none !important;
} 
/*   
.swiper-pagination-bullet-active {
  background-color: #145e0c !important;
  opacity: 1 !important;
} */

@media (max-width: 768px) {
  .usp-section {
    flex-direction: column;
    padding: 40px 20px;
  }

  .usp-heading {
    font-size: 2rem;
    text-align: center;
  }

  .usp-description {
    font-size: 1rem;
    text-align: justify;
  }

  .usp-carousel {
    margin-top: 30px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .usp-section {
    flex-direction: column;
    padding: 20px 5px;
  }
}
