@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

.product-section {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: #f9f8f9;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center; 
  padding: 2rem;
  font-family: 'Orbitron', 'Arial', sans-serif;
}

.reversed .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transform: scaleX(-1);
  z-index: -1;
}

.drivetrain-buttons {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  z-index: 10;
}

.drivetrain-buttons button {
  background: #161616;
  color: #f9f8f5;
  border: none;
  border-radius: 6px;
  width: 80px;
  height: 80px;
  font-family: 'Orbitron', 'Arial', sans-serif;
  font-weight: 800;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-size: 16px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
}

.drivetrain-buttons button:hover {
  transform: scale(1.12);
  background-color: #000;
}

.know-more {
  margin: 2rem 0;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  z-index: 10;
}

.know-more-button {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #161616;
  color: #f9f8f5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: 'Orbitron', 'Arial', sans-serif;
  text-decoration: none;
  animation: fadeUp 1s ease-in-out; 
}

.know-more-button:hover {
  background-color: #000;
  transform: scale(1.05);
}


.reversed-know-more {
  margin: 2rem 0;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  z-index: 10;
}

.reversed-know-more-button {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #161616;
  color: #f9f8f5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: 'Orbitron', 'Arial', sans-serif;
  text-decoration: none;
  animation: fadeUp 1s ease-in-out; 
}

.reversed-know-more-button:hover {
  background-color: #000;
  transform: scale(1.05);
}

.spec-boxes {
  position: absolute;
  color: #000;
  top: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  z-index: 10;
  backdrop-filter: blur(5px);
  background: rgba(0.1, 0.1, 0.1, 0.1); 
  border-radius: 12px;
  padding: 10px;
}

.spec-item {
  text-align: center;
}

.spec-value {
  font-size: 2.5rem;
  font-weight: 400;
}

.unit {
  font-size: 0.5em;
  margin-left: 4px;
  opacity: 0.8;
}

.ashva-title {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: row;
  z-index: 10;
}

.ashva-title-img {
  width: 475px;
  height: 125px;
  animation: fadeIn 2s ease-in-out;
}

.reversed-ashva-title {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  display: flex;
  flex-direction: row;
  z-index: 10;
}

.ashva-title-img2 {
  width: 400px;
  height: 50px;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 868px) {
  .product-section {
    height: 80vh;
    padding: 1.5rem;
    zoom: 0.6;
  }

  .spec-boxes {
    flex-direction: column;
    left: 1rem;
    gap: 1rem;
  }

  .drivetrain-buttons {
     flex-direction: row;
    top: 1rem;
    right: 1rem;
    gap: 0.5rem;
  }

  .reversed .drivetrain-buttons {
    flex-direction: column;
    left: 1rem;
    right: auto;
  }

  .reversed .spec-boxes {
    right: 1rem;
    left: auto;
    flex-direction: row;
    gap: 1rem;
  }

  .spec-value {
    font-size: 1.8rem;
  }

.know-more-button, .reversed-know-more-button {
  padding: 12px 24px;
  font-size: 1.5rem;
  font-weight: 400;
}
}

@media (max-width: 480px) {
  .product-section {
    height: 70vh;
    padding: 1rem;
    width: 100%;
    zoom: 0.4;
  }

  .drivetrain-buttons {
    flex-direction: row;
    top: 1rem;
    right: 1rem;
  }

  .reversed .drivetrain-buttons {
    flex-direction: column;
    left: 1rem;
    right: auto;
  }

  .drivetrain-buttons button {
    width: 80px;
    height: 80px;
    font-size: 16px;
  }

  .spec-value {
    font-size: 1.6rem;
  }

  
} 