.reason-section {
  background: #121212;
  color: #f9f8f5;
  padding: 60px 60px 20px;
  text-align: center;
  font-family: 'Poppins','arial', sans-serif;
  overflow: hidden;
}

.reason-heading {
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: bold;
  color: #f9f8f5;
}

.reason-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 32px;
  max-width: 1200px;
  margin: auto;
}

.reason-slider {
  display: none;
}

.reason-card {
  background: #1f1f1f;
  padding: 30px 20px;
  border: 1px solid transparent;
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  border-color: white;
  transition: all 0.4s ease;
  box-shadow: 0 0 15px rgba(196, 214, 0, 0.1);
}

.reason-card:hover {
  border-color: #3b8132;
  box-shadow: 0 0 25px rgba(196, 214, 0, 0.25);
}

.reason-icon {
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}

.reason-img {
  width: 100px;
  height: 50px;
  object-fit: contain;
}

.reason-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #f0f0f0;
  font-weight: 600;
}

.reason-desc {
  font-size: 0.95rem;
  color: #ccc;
  line-height: 1.5;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 1 !important;
  width: 10px !important;
  height: 10px !important;
  margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
  background: #3b8132 !important;
}

@media screen and (max-width: 768px) {
  .reason-grid {
    display: none;
  }

  .reason-slider {
    display: block;
    margin-top: 50px;
  }

  .reason-title {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 480px) {

  .reason-card {
    height: 22vh;
    text-align: center;
  }
}

@media screen and (max-width: 430px) {

  .reason-card {
    height: 25vh;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {

  .reason-card {
    height: 30vh;
    text-align: center;
  }
}

