@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.testimonial-section {
  position: relative;
  padding: 4rem 1rem;
  background-color: #121212;
  color: #f9f8f5;
  font-family: 'Poppins', 'Arial', sans-serif;
  overflow: hidden;
}

.testimonial-section::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: 2rem;
  right: 2rem;
  height: 1px;
  background-color: #6d6969;
}

.testimonial-title {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5rem;
}

.testimonial-swiper {
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

.testimonial-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  flex-wrap: wrap;
}

.testimonial-text {
  flex: 1;
  font-size: 1.2rem;
  font-weight: 400;
  /* padding: 1rem; */
  position: relative;
  text-align: justify;
}

.testimonial-author {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  color: #3b8132;
  margin-top: 1rem;
  text-align: right;
}

.testimonial-author-line {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: #3b8132;
  text-align: right;
}

.testimonial-video {
  flex: 1;
  background-color: #d3d3d3;
  width: 100%;
  max-width: 480px;
  aspect-ratio: 16/9;
  border-radius: 10px;
  overflow: hidden;
}

.swiper-pagination {
  margin-top: 5rem !important;
  text-align: center;
}

.swiper-pagination-bullet {
  background: #ffffff !important;
  opacity: 0.5;
  width: 10px !important;
  height: 10px !important;
  margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
  background: #3b8132 !important;
  opacity: 1;
}

@media (max-width: 768px) {
  .testimonial-slide {
    flex-direction: column;
    text-align: center;
  }

  .testimonial-text {
    font-size: 1.3rem;
  }

  .testimonial-author {
    font-size: 1rem;
    text-align: center;
    margin-top: 0.5rem;
  }

  .testimonial-video {
    width: 100%;
    margin-bottom: 3rem;
  }
}

@media (max-width: 480px) {
  .testimonial-title {
    font-size: 2rem;
  }

  .testimonial-text {
    font-size: 1.1rem;
  }

  .testimonial-author {
    font-size: 0.9rem;
  }
}